:root {
    --bg-color: #5f5f5f5d;
    --main-color1: rgb(254, 195, 57);
    --main-color2: #0daae9;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--bg-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* HEADER STYLES START */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    position: --webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/hero-bg4.jpeg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-position: 80%;
    background-repeat: no-repeat;
    z-index: 9999;
}
header h1 {
    margin: 20px 0;
    font-weight: bold;
    font-size: 55px;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}
header a {
    text-decoration: none;
    color: var(--main-color1);
}
header nav {
    margin: 20px 0;
}
.lam {
    color: var(--main-color2);
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 30px;
    font-weight: lighter;
    font-size: 2vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    color: var(--main-color1);
    text-align: center;
}
header nav ul li a:hover {
    background: var(--main-color1);
    color: var(--main-color2);
    border-radius: 15px;
    text-shadow: none;
}
/* HEADER STYLES END */

/* HERO START */
.hero {
    background-image: url("../images/hero-bg4.jpeg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-position: 80%;
    background-repeat: no-repeat;
    height: 40vw;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.hero-cta {
    width: 15vw;
    height: 15vw;
    text-align: center;
    color: var(--main-color1);
    font-size: 1.5vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: var(--main-color1) solid .25vw;
    padding: .5vw;
    max-width: 100%;
}
/* HERO END */

/* ABOUT ME START */
.bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
}
.bio h2 {
    flex: 1 25%;
    font-size: 55px;
    text-align: center;
    border-right: var(--main-color2) solid 7px;
    color: var(--main-color1);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}
.bio-info {
    flex: 1 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
}
.bio-img {
    flex: 1 100%;
    text-align: center;
}
.bio-text {
    flex: 10;
    padding: 25px 0 0 40px;
}
.bio-img img {
    width: 20vw;
    height: 20vw;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 15px 15px;
}
.bio-text p {
    text-align: justify;
    font-size: 20px;
    line-height: 1.3;
}
/* ABOUT ME END */

/* WORK START */
.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
}
.work h2 {
    flex: 1 25%;
    font-size: 55px;
    text-align: center;
    border-right: var(--main-color2) solid 7px;
    color: var(--main-color1);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}
.work-items {
    flex: 1 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
}
.work-items a {
    flex: 1 33.33%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: var(--main-color1) solid 10px;
    height: 150px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 25px auto auto 40px;
}
.work-items a:hover {
    background-size: 150%;
    opacity: 0.4;
}
.work-items a:nth-child(1) {
    background-image: url("../images/pwc-ss.jpg");
    flex: 1 100%;
    height: 350px;
    margin-top: 0;
}
.work-items a:nth-child(2) {
    background-image: url("../images/photography-ss.jpeg");
}
.work-items a:nth-child(3){
    background-image: url("../images/cooking-ss.jpeg");
}
.work-items a:nth-child(4) {
    background-image: url("../images/run-buddy-ss.png");
}
.work-items a:nth-child(5) {
    background-image: url("../images/horiseon-ss.png");
}
.work-items a p {
    width: auto;
    text-align: left;
    font-size: 20px;
    background-color: var(--main-color1);
    border-left: none;
    padding-right: 10px;
}
/* WORK END */

/* CONTACT ME START */
.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
}
.contact h2 {
    flex: 1 25%;
    font-size: 55px;
    text-align: center;
    border-right: var(--main-color2) solid 7px;
    color: var(--main-color1);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}
.contact-info {
    flex: 1 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
    padding: 40px;
}
.contact-info a {
    font-size: 25px;
    text-decoration: none;
    color: black;
}
.contact-info a:hover {
    background: var(--main-color1);
    color: var(--main-color2);
    border-radius: 15px;
}
/* CONTACT ME END */

/* Utilities */
section {
    padding: 50px 35px 50px 35px;
}
.work-title {
    font-weight: bold;
    font-size: 25px;
}
.quote {
    color: var(--main-color2);
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    section {
        padding: 30px;
    }
    header {
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 10px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 25px;
    }
    .hero {
        height: 250px;
        justify-content: center;
    }
    .bio h2, .bio-info {
        flex: 100%;
        max-width: 100%;
    }
    .bio h2, .contact h2, .work h2 {
        font-size: 40px;
        border-right: none;
        border-bottom: var(--main-color2) 4px solid;
        margin: 40px 0;
        padding-bottom: 25px;
    }
    .bio-text {
        padding-left: 15px;
    }
    .work h2, .work-items {
        flex: 100%;
        max-width: 100%;
    }
    .work-items {
        padding-right: 30px;
    }
    .contact h2, .contact-info {
        flex: 100%;
        max-width: 100%;
    }
    .contact-info {
        padding: 0 25px 25px 25px;
    }
    .bio-img img {
        width: 200px;
        height: 200px;
    }
}
   
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 768px) {
        header nav ul li a {
        font-size: 30px;
        padding: 0 15px 0 15px;
    }
    .hero-cta {
        width: 200px;
        height: 200px;
        font-size: 18px;
        padding: none;
        max-width: 100%;
        line-height: 1.3;
    }
    .hero {
        height: 300px;
    }
    .bio-text p {
        font-size: 18px;
    }
    .contact-info a{
        flex: 100%;
        text-align: center;
        padding-bottom: 15px;
    }
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 575px) {
    header nav ul li {
        flex: 100%;
        text-align: center;
        padding-bottom: 15px;
    }
    header nav {
        width: 75%;
    }
    header nav ul {
        padding-top: 20px;
        border-top: var(--main-color2) solid 2px;
        text-align: center;
    }
}